parameters:
    vicidial.api_url: 'http://localhost/vicidial/non_agent_api.php'
    vicidial.username: '6666'
    vicidial.password: 'vicidial1234'
    vicidial.source: 'test'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # ==================================================
    # Auto-enregistrement de tout le code App
    # ==================================================
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # ==================================================
    # Controllers (auto-détectés)
    # ==================================================
    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    # ==================================================
    # SERVICES UNIQUEMENT
    # ==================================================

    # ---------- Users ----------
    App\Service\Users\UserService:
        arguments:
            $connection: '@doctrine.dbal.default_connection'
            $logger: '@logger'

    App\Service\Users\Group\GroupService: ~

    App\Service\Users\Phone\PhoneService:
        arguments:
            $connection: '@doctrine.dbal.default_connection'
            $client: '@http_client'
            $apiUrl: '%vicidial.api_url%'
            $apiUser: '%vicidial.username%'
            $apiPass: '%vicidial.password%'
            $source: '%vicidial.source%'

    # ---------- Vicidial ----------
    App\Service\VicidialApiService:
        arguments:
            $client: '@http_client'
            $apiUrl: '%vicidial.api_url%'
            $apiUser: '%vicidial.username%'
            $apiPass: '%vicidial.password%'
            $source: '%vicidial.source%'

    App\Service\VicidialDbService:
        arguments:
            $vicidialConnection: '@doctrine.dbal.default_connection'

    # ---------- Campaigns ----------
    App\Service\Campaigns\CampaignService:
        arguments:
            $client: '@http_client'
            $connection: '@doctrine.dbal.default_connection'
            $apiUrl: '%vicidial.api_url%'
            $apiUser: '%vicidial.username%'
            $apiPass: '%vicidial.password%'
            $source: '%vicidial.source%'
            $entityManager: '@doctrine.orm.entity_manager'

    # ---------- Lists ----------
    App\Service\Lists\ListService:
        arguments:
            $client: '@http_client'
            $apiUrl: '%vicidial.api_url%'
            $apiUser: '%vicidial.username%'
            $apiPass: '%vicidial.password%'
            $source: '%vicidial.source%'

    # ---------- Statuses ----------
    App\Service\Statuses\StatusesService:
        arguments:
            $connection: '@doctrine.dbal.default_connection'
            $logger: '@logger'

    # ---------- Repository ----------
    App\Repository\VicidialUserRepository:
        factory: ['@doctrine.orm.entity_manager', getRepository]
        arguments:
            - App\Entity\CrmUser
